        <footer class="container-fluid" style="margin-top: 10px;">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <h4 class="footer-title" onclick="">CUSTOMER CARE</h4>
              <ul class="footer-item footer-nav" id="footer-item-1">
                <li><a href="#">CONTACT US</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">TRACK YOUR ORDER</a></li>
                <li><a href="#">BOOK AN APPOINTMENT</a></li>   
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="footer-title" onclick="">OUR COMPANY</h4>
              <ul class="footer-item footer-nav" id="footer-item-2">
                <li><a href="#">FIND A BOUTIQUE <i class="ti-arrow-top-right"></i></a></li>
                
                <li><a href="#">CAREERS <i class="ti-arrow-top-right"></i> </a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="footer-title" onclick="">LEGAL AREA</h4>
              <ul class="footer-item footer-nav" id="footer-item-3">
                <li><a href="#">TERMS OF USE</a></li>
                <li><a href="#">PRIVACY POLICY</a></li>   
                <li><a href="#">CONDITIONS OF SALE</a></li>  
                <li><a href="#">HUMAN RIGHTS STATEMENT</a></li>  
                <li><a href="#">ACCESSIBILITY STATEMENT</a></li> 
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="footer-title" onclick="">FOLLOW US</h4>
              <ul class="footer-item socials-list" id="footer-item-4">
                <a href="https://www.facebook.com/Urlgrim"><i class="ti-facebook"></i></a>
                <a href="https://www.facebook.com/Urlgrim"><i class="ti-instagram"></i></a>
                <a href="https://www.facebook.com/Urlgrim"><i class="ti-youtube"></i></a>
                <a href="https://www.facebook.com/Urlgrim"><i class="ti-pinterest"></i></a>
                <a href="https://www.facebook.com/Urlgrim"><i class="ti-twitter"></i></a>
              </ul>
            </div>
          </div>
        </footer>