        <!-- Slider section -->
        <div id="slider">
          <div class="container container-fluid">
            <div class="row mb-5">
              <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <a href="#">
                  <img src="./assets/img/slider/slider1.png" alt="Photo shows 3 rings" class="slider-img">
                </a>
              </div>
              <div class="col-lg-6">
                  <div class="slider-slogan d-none d-lg-block">
                    Slogan
                  </div>
                  <div class="slogan-desc d-none d-lg-block">
                    unique introduction.... must be long
                  </div>
              </div>
              <!-- For small screens -->
              <div class="d-block d-lg-none">
                <div class="slider-slogan">
                    Slogan
                </div>
                <div class="slogan-desc">
                    unique introduction.... must be long
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content section -->
        <div id="content">
          <!-- Jewelry section -->
          <div class="container container-fluid text-center mt-4 jewelry-list">
          <div class="row">
            <div class="col-sm-4">
              <img src="./assets/img/jewelry-homepage-item/jewelry1.png" alt="" class="jewelry-img mb-2">
            </div>
            <div class="col-sm-4">
              <img src="./assets/img/jewelry-homepage-item/jewelry2.png" alt="" class="jewelry-img mb-2">
            </div>
            <div class="col-sm-4">
              <img src="./assets/img/jewelry-homepage-item/jewelry3.png" alt="" class="jewelry-img mb-2">
            </div>
          </div>
          <div class="mt-4 m-auto pb-2 extended-desc-jewelry ">
            Shop by catologies
          </div>
          </div>

          <!-- Collection section -->
          <!-- Carousel -->
          <div id="collection-section" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#collection-section" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#collection-section" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#collection-section" data-bs-slide-to="2"></butto>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner col-12">
              <div class="carousel-item active">
                <img src="./assets/img/collection/rose2.jpg" alt="" class="collection-img img-fluid">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/collection/camonvidaden.avif" alt="" class="collection-img img-fluid">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/collection/rose.png" alt="" class="collection-img img-fluid">
              </div>
            </div>
            
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#collection-section" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#collection-section" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
          
          
          <!-- <div class="collection-list">
            <img src="./assets/img/collection/camonvidaden.avif" alt="" class="collection-img img-fluid">
          </div> -->
          <div class="collection-desc text-center">
            <h1 class="heading">Newest  Collection</h1>
            <div class="text-description text-center">Discription....</div>
          </div>
          <div class="mt-4 m-auto pb-2 extended-desc-collection">
            Discover
          </div>


          <!-- Contact section -->
          <div class="contact-section">
            <h1 class="heading text-center"> SUBSCRIBE TO OUR NEWSLETTER </h1>
            <div class="input-group mb-3 contact-form d-flex justify-content-center">
              <form action="" class="d-flex mt-3 w-50">
                      <input type="email" name="" placeholder="Email" required id="contact-id" class="form-control input-email-control">
                      <button class="btn btn-dark form-submit-btn" type="submit">Subscribe</button>
              </form>
            </div>
          </div>
        </div>