<div class="admin__menu-main">
  <div class="admin__menu-topbar">
    <div class="admin__menu-toggle">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="admin__menu-search">
      <h2>Order Detail</h2>
    </div>

    <div class="admin__menu-user">
      <i class="fa-solid fa-user-tie"></i>
    </div>
  </div>

  <!-- ========================= Order management section ==================== -->
  <div class="admin__container container">
    <button
      type="button"
      class="btn btn-outline-dark admin__back-btn"
      onclick="window.location.href = '/admin/orders'"
    >Back</button>
    <div class="row">
      <div class="col-6">
        <div class="wrapper">
          <h2>Order ID:</h2>
          <textarea
            id="order-id"
            placeholder="Order ID..."
            required
            disabled
          ></textarea>
        </div>
      </div>
      <div class="col-6">
        <div class="wrapper">
          <h2>Customer ID:</h2>
          <textarea
            id="customer-id"
            placeholder="Customer ID..."
            required
            disabled
          ></textarea>
        </div>
      </div>
      <div class="col-6">
        <div class="wrapper">
          <h2>Customer Name:</h2>
          <textarea
            id="customer-name"
            placeholder="Customer Name..."
            required
            disabled
          ></textarea>
        </div>
      </div>
      <div class="col-6">
        <div class="wrapper">
          <h2>Email:</h2>
          <textarea
            id="email"
            placeholder="Customer Email..."
            required
            disabled
          ></textarea>
        </div>
      </div>
      <div class="col-6">
        <div class="wrapper">
          <h2>Phone Number:</h2>
          <textarea
            id="phone-number"
            placeholder="Customer Phone number..."
            required
            disabled
          ></textarea>
        </div>
      </div>
      <div class="col-6">
        <div class="wrapper">
          <h2>Address:</h2>
          <textarea
            id="address"
            placeholder="Customer address..."
            required
            disabled
          ></textarea>
        </div>
      </div>
    </div>

    <div class="admin__order-manage-table-section">
      <table
        class="table table-striped table-bordered admin__order-manage-table-custom"
      >
        <thead>
          <tr>
            <th>Product name</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody id="order-table">
          {{! <tr>
            <td>La Panthère de Cartier Watch</td>
            <td>Small model, quartz movement, rose gold, diamonds</td>
            <td>2</td>
            <td>$47,200.00</td>
          </tr>
          <tr>
            <td>La Panthère de Cartier Watch</td>
            <td>Small model, quartz movement, rose gold, diamonds</td>
            <td>3</td>
            <td>$50,000.00</td>
          </tr>
          <tr>
            <td>La Panthère de Cartier Watch</td>
            <td>Small model, quartz movement, rose gold, diamonds</td>
            <td>1</td>
            <td>$55,200.00</td>
          </tr> }}
        </tbody>
      </table>
      <div class="admin__order-manage-total-price">
        <h6>Total price: </h6>
        <h6 id="total-price"></h6>
      </div>
    </div>

  </div>

</div>