<!-- Slider section -->
<div id="slider">
</div>

<!-- Content section -->
<div id="content" style="margin-top: 24px;">
  <div class="container container-fluid">
    <div class="row mb-5 profile-row">
      <div class="col-3" style="border-right: 1px solid #ddd;">
        <ul class="profile-list">
          <li><a
              class="profile-list__item"
              href="/profile"
              style="text-decoration: underline;"
            >My profile</a>
          </li>
          <li id="password-tab"><a
              class="profile-list__item"
              href="/profile/password"
            >My password</a>
          </li>
          <li><a class="profile-list__item" href="/profile/oders">My orders</a>
          </li>
          <li><a class="profile-list__item" href="/profile/address">My addresses</a>
          </li>
        </ul>
      </div>
      <div class="col-9">
        <table class="table table-custom">
          <tbody>
            <tr>
              <td style="text-align: right;">The new email address</td>
              <td>
                <input
                  id="email"
                  type="text"
                  class="form-control email-change__input"
                  placeholder="Enter new email address"
                />
              </td>
            </tr>
            <tr>
              <td></td>
              <!-- Cell for alignment -->
              <td>
                <button
                  id="change-email-btn"
                  class="btn btn-dark"
                >Change</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <!-- Contact section -->
  <div class="contact-section">
    <h1 class="heading text-center"> SUBSCRIBE TO OUR NEWSLETTER </h1>
    <div class="input-group mb-3 contact-form d-flex justify-content-center">
      <form action="" class="d-flex mt-3 w-50">
        <input
          type="email"
          name=""
          placeholder="Email"
          required
          id="contact-id"
          class="form-control input-email-control"
        />
        <button
          class="btn btn-dark form-submit-btn"
          type="submit"
        >Subscribe</button>
      </form>
    </div>
  </div>
</div>