<!-- Slider section -->
<div id="slider">
</div>

<div id="content">
  <div class="login-container">

    <button
      type="button"
      class="btn btn-outline-dark"
      style="margin-top: 10px; margin-left: 10px;"
      onclick="window.location.href = '/login'"
    >
      <i class="fa-solid fa-chevron-left"></i></button>

    <h4 class="login__header">Forgot Password</h4>
    <div class="login__body container-fluid">
      <p style="color: #989898;">Please enter your email to reset the password</p>
      <label for="user-name" class="login__label">
        Enter email address
      </label>
      <input
        id="user-name"
        type="email"
        class="login__input"
        placeholder="example@gmail.com"
      />
      <button id="reset-password-btn" class="login__btn" disabled>
        Reset Password
      </button>
    </div>
  </div>
</div>