<!-- Slider section -->
<div id="slider">
</div>

<!-- Content section -->
<div id="content">
  <div class="contact-section__map">
    <p>Contact us</p>
  </div>
  <div class="container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.9527212788825!2d106.61873322077284!3d10.7926501317974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752d30443d946b%3A0x51e2e88da8981c4a!2zQ8OUTkcgVFkgVE5ISCBUSMavxqBORyBN4bqgSSBE4buKQ0ggVuG7pCBUUlVZ4buATiBUSMOUTkcgU01BUlQgVEnhur5OIFBIw4FU!5e0!3m2!1sen!2s!4v1713245877633!5m2!1sen!2s"
      height="70"
      style="width: 100%; height: auto; border: none; border-radius: 5px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <!-- Contact section -->
  <div class="contact-section">
    <h1 class="heading text-center"> SUBSCRIBE TO OUR NEWSLETTER </h1>
    <div class="input-group mb-3 contact-form d-flex justify-content-center">
      <form action="" class="d-flex mt-3 w-50">
        <input
          type="email"
          name=""
          placeholder="Email"
          required
          id="contact-id"
          class="form-control input-email-control"
        />
        <button
          class="btn btn-dark form-submit-btn"
          type="submit"
        >Subscribe</button>
      </form>
    </div>
  </div>
</div>