        <!-- Slider section -->
        <div id="slider">
          <div class="container container-fluid">
            <div class="row mb-5">
                <div class="col-lg-12">
                    <div class="slider-slogan" style="margin-top: 0; margin-left: 0; text-align: center;">
                      Slogan
                    </div>
                    <div class="slogan-desc" style="margin-left: 0; margin-bottom: 10px; text-align: center;">
                      unique introduction.... must be long
                    </div>
                </div>
                <div class="col-lg-12" style="padding: 0%;">
                    <a href="#">
                      <img src="./assets/img/slider/slider2.jpg" alt="Photo shows 3 rings" class="slider-img">
                    </a>
                  </div>
            </div>
          </div>
        </div>

        <!-- Content section -->
        <div id="content" style="margin-top: 24px;">
            <!-- Comment section -->
            <div class="carousel comment__carousel container">
                <div class="comment__carousel-inner">
                </div>
                <div class="comment__carousel-controls">
                    <button class="comment__carousel-button prev">&lt;</button>
                    <span class="comment__carousel-indicator">01 / 06</span>
                    <button class="comment__carousel-button next">&gt;</button>
                </div>
            </div>


            <div class="container container-fluid slogan-video-section">
                <div class="row mb-5">
                    <div class="col-lg-12">
                      <iframe class="custom-video" src="https://www.youtube.com/embed/2RhpQwtMKqY?playlist=2RhpQwtMKqY&autoplay=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-12">
                        <div class="slider-slogan" style="margin-top: 0; margin-left: 0; text-align: center;">
                          Slogan
                        </div>
                        <div class="slogan-desc" style="margin-left: 0; margin-bottom: 10px; text-align: center;">
                          unique introduction.... must be long
                        </div>
                    </div>

                </div>
              </div>



          <!-- Contact section -->
          <div class="contact-section">
            <h1 class="heading text-center"> SUBSCRIBE TO OUR NEWSLETTER </h1>
            <div class="input-group mb-3 contact-form d-flex justify-content-center">
              <form action="" class="d-flex mt-3 w-50">
                      <input type="email" name="" placeholder="Email" required id="contact-id" class="form-control input-email-control">
                      <button class="btn btn-dark form-submit-btn" type="submit">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
