<!-- Slider section -->
<div id="slider">
</div>

<!-- Content section -->
<div id="content" style="margin-top: 24px;">
  <div class="container container-fluid">
    <div class="row mb-5 profile-row">
      <div class="col-3" style="border-right: 1px solid #ddd;">
        <ul class="profile-list">
          <li><a class="profile-list__item" href="/profile">My profile</a>
          </li>
          <li id="password-tab"><a
              class="profile-list__item"
              href="/profile/password"
            >My password</a>
          </li>
          <li><a
              class="profile-list__item"
              href="/profile/oders"
              style="text-decoration: underline;"
            >My orders</a>
          </li>
          <li><a class="profile-list__item" href="/profile/address">My addresses</a>
          </li>
        </ul>
      </div>
      <div class="col-9" id="bag-container">

        <div style="margin-left: 4px" class="row shopping-bag__product-item">

          <!-- Order item section-->
          <div
            class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center"
          >
            <a href="productDetail.html" class="shopping-bag__product-item-img">
              <img
                src="./assets/img/product-item/shopping bag/watch.avif"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="row">
              <div class="col-8">
                <a
                  href="productDetail.html"
                  class="shopping-bag__product-item-name"
                >
                  La Panthère de Cartier Watch
                </a>
              </div>
              <div class="col-4">
                <p class="shopping-bag__product-item-price">
                  $47,200.00
                </p>
              </div>
              <div class="col-12">
                <p class="shopping-bag__product-item-desc">Small model, quartz
                  movement, rose gold, diamonds</p>
              </div>
              <!-- Product ordered detail -->
              <div class="col-4" style="margin-top: 10px;">
                <p class="ordered__product-item-detail">Size:</p>
              </div>
              <div class="col-8" style="margin-top: 10px;">
                <p
                  class="ordered__product-item-detail"
                  style="float: right;"
                >15cm</p>
              </div>
              <div class="col-4">
                <p class="ordered__product-item-detail">Quantity:</p>
              </div>
              <div class="col-8">
                <p
                  class="ordered__product-item-detail"
                  style="float: right;"
                >2</p>
              </div>
            </div>
          </div>
          <!-- End Order item section-->

          <hr style="border: 1px solid #000; width: 100%;" />
          <!-- Order item section-->
          <div
            class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center"
          >
            <a href="productDetail.html" class="shopping-bag__product-item-img">
              <img
                src="./assets/img/product-item/shopping bag/watch.avif"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="row">
              <div class="col-8">
                <a
                  href="productDetail.html"
                  class="shopping-bag__product-item-name"
                >
                  La Panthère de Cartier Watch
                </a>
              </div>
              <div class="col-4">
                <p class="shopping-bag__product-item-price">
                  $47,200.00
                </p>
              </div>
              <div class="col-12">
                <p class="shopping-bag__product-item-desc">Small model, quartz
                  movement, rose gold, diamonds</p>
              </div>
              <!-- Product ordered detail -->
              <div class="col-4" style="margin-top: 10px;">
                <p class="ordered__product-item-detail">Size:</p>
              </div>
              <div class="col-8" style="margin-top: 10px;">
                <p
                  class="ordered__product-item-detail"
                  style="float: right;"
                >15cm</p>
              </div>
              <div class="col-4">
                <p class="ordered__product-item-detail">Quantity:</p>
              </div>
              <div class="col-8">
                <p
                  class="ordered__product-item-detail"
                  style="float: right;"
                >2</p>
              </div>
            </div>
          </div>
          <!-- End Order item section-->

          <div class="col-12" style="display: flex; justify-content: flex-end;">
            <p
              class="ordered__product-item-detail"
              style="margin-right: 10px; font-weight: 600;"
            >Total amount:</p>
            <p
              class="ordered__product-item-detail"
              style="float: right;"
            >$94,400.00</p>
          </div>
        </div>

        <div class="row shopping-bag__product-item">
          <!-- Order item section-->
          <div
            class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center"
          >
            <a href="productDetail.html" class="shopping-bag__product-item-img">
              <img
                src="./assets/img/product-item/shopping bag/watch.avif"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="row">
              <div class="col-8">
                <a
                  href="productDetail.html"
                  class="shopping-bag__product-item-name"
                >
                  La Panthère de Cartier Watch
                </a>
              </div>
              <div class="col-4">
                <p class="shopping-bag__product-item-price">
                  $47,200.00
                </p>
              </div>
              <div class="col-12">
                <p class="shopping-bag__product-item-desc">Small model, quartz
                  movement, rose gold, diamonds</p>
              </div>
              <!-- Product ordered detail -->
              <div class="col-4" style="margin-top: 10px;">
                <p class="ordered__product-item-detail">Size:</p>
              </div>
              <div class="col-8" style="margin-top: 10px;">
                <p
                  class="ordered__product-item-detail"
                  style="float: right;"
                >15cm</p>
              </div>
              <div class="col-4">
                <p class="ordered__product-item-detail">Quantity:</p>
              </div>
              <div class="col-8">
                <p
                  class="ordered__product-item-detail"
                  style="float: right;"
                >2</p>
              </div>
            </div>
          </div>
          <!-- End Order item section-->

          <div class="col-12" style="display: flex; justify-content: flex-end;">
            <p
              class="ordered__product-item-detail"
              style="margin-right: 10px; font-weight: 600;"
            >Total amount:</p>
            <p
              class="ordered__product-item-detail"
              style="float: right;"
            >$47,200.00</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact section -->
  <div class="contact-section">
    <h1 class="heading text-center"> SUBSCRIBE TO OUR NEWSLETTER </h1>
    <div class="input-group mb-3 contact-form d-flex justify-content-center">
      <form action="" class="d-flex mt-3 w-50">
        <input
          type="email"
          name=""
          placeholder="Email"
          required
          id="contact-id"
          class="form-control input-email-control"
        />
        <button
          class="btn btn-dark form-submit-btn"
          type="submit"
        >Subscribe</button>
      </form>
    </div>
  </div>
</div>