<!-- Slider section -->
<div id="slider">
</div>

<!-- Content section -->
<div id="content" style="margin-top: 24px;">
  <div class="container container-fluid">
    <div class="row mb-5 profile-row">
      <div class="col-3" style="border-right: 1px solid #ddd;">
        <ul class="profile-list">
          <li><a class="profile-list__item" href="/profile">My profile</a>
          </li>
          <li id="password-tab"><a
              class="profile-list__item"
              href="/profile/password"
              style="text-decoration: underline;"
            >My password</a>
          </li>
          <li><a class="profile-list__item" href="/profile/orders">My orders</a>
          </li>
          <li><a class="profile-list__item" href="/profile/address">My addresses</a>
          </li>
        </ul>
      </div>
      <div class="col-9">
        <table class="table table-custom">
          <tbody>
            <tr>
              <td style="text-align: right;">Current Password</td>
              <td>
                <input
                  type="password"
                  class="form-control"
                  id="currentPassword"
                  name="currentPassword"
                />
              </td>
            </tr>
            <tr>
              <td style="text-align: right;">New Password</td>
              <td>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                />
                <input
                  type="checkbox"
                  id="showNewPassword"
                  onchange="togglePasswordVisibility('newPassword')"
                />
                Show password
              </td>
            </tr>
            <tr>
              <td style="text-align: right;">Confirm New Password</td>
              <td>
                <input
                  type="password"
                  class="form-control"
                  id="confirmNewPassword"
                  name="confirmNewPassword"
                />
                <input
                  type="checkbox"
                  id="showConfirmPassword"
                  onchange="togglePasswordVisibility('confirmNewPassword')"
                />
                Show password
              </td>
            </tr>
            <tr>
              <td></td>
              <!-- Cell for alignment -->
              <td>
                <button
                  id="save-change-password"
                  class="btn btn-dark"
                >Save</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Contact section -->
  <div class="contact-section">
    <h1 class="heading text-center"> SUBSCRIBE TO OUR NEWSLETTER </h1>
    <div class="input-group mb-3 contact-form d-flex justify-content-center">
      <form action="" class="d-flex mt-3 w-50">
        <input
          type="email"
          name=""
          placeholder="Email"
          required
          class="form-control input-email-control"
        />
        <button
          class="btn btn-dark form-submit-btn"
          type="submit"
        >Subscribe</button>
      </form>
    </div>
  </div>
</div>