<!-- ========================= Main ==================== -->
<div class="admin__menu-main">
  <div class="admin__menu-topbar">
    <div class="admin__menu-toggle">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="admin__menu-search">
      <h2>Product Detail</h2>
      <!-- <label>
                        <input type="text" placeholder="Search here">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label> -->
    </div>

    <div class="admin__menu-user">
      <p class="header__account-name">Gia Thien</p>
      <i class="fa-solid fa-user-tie"></i>
    </div>
  </div>

  <!-- ========================= Product management section ==================== -->
  <div class="admin__container container">
    <button
      type="button"
      class="btn btn-outline-dark admin__back-btn"
      onclick="window.location.href = 'productManagement.html'"
    >Back</button>
    <button type="button" class="btn btn-primary admin__edit-btn">Edit</button>
    <div
      class="row"
      style="margin-top: 10px; border-bottom: 1px solid #ccc; padding-bottom: 10px;"
    >
      <!-- Cột bên trái với nội dung mới -->
      <div class="col-6">
        <div class="scrollable-content">
          <div id="img-container" class="row">

            <!-- Thêm các ảnh khác vào đây nếu cần -->
          </div>
        </div>
      </div>
      <!-- Cột bên phải với nội dung gốc -->
      <div class="col-6">
        <div class="wrapper">
          <h2>Product Name</h2>
          <textarea
            id="name"
            placeholder="Enter product name..."
            required
            disabled
          ></textarea>
        </div>
        <div class="wrapper">
          <h2>Price</h2>
          <textarea
            id="price"
            placeholder="Enter price..."
            required
            disabled
          ></textarea>
        </div>
        <div class="wrapper">
          <h2>Description</h2>
          <textarea
            id="description"
            placeholder="Enter description..."
            required
            disabled
          ></textarea>
        </div>
        <div class="wrapper">
          <h2>Product Images</h2>
          <input
            type="file"
            id="imagesInput"
            accept="image/*"
            multiple
            disabled
          />
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <div class="col-6">
          <div class="wrapper">
            <h2>Stock</h2>
            <div class="radio-group">
              <p>Size:</p>
              <input
                type="radio"
                class="form-check-input admin__product-manage-radio"
                name="optradio"
                id="sizeRadio"
                checked
                disabled
              />
            </div>
            <div class="radio-group">
              <p>Non-size:</p>
              <input
                type="radio"
                class="form-check-input admin__product-manage-radio"
                name="optradio"
                id="nonSizeRadio"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-dark admin__add-stock-btn"><i
            class="fa-solid fa-plus"
            style="margin-right: 10px;"
          ></i>Add new stock</button>
      </div>
    </div>
    <div class="row admin__product-manage-stock-section" id="stockSection">
      <div class="col-6 admin__product-manage-stock-item">
        <div class="wrapper wrapper-custom">
          <h2>Stock</h2>
          <textarea placeholder="Enter stock..." required disabled></textarea>
        </div>
        <div class="wrapper wrapper-custom">
          <h2>Size</h2>
          <textarea placeholder="Enter size..." required disabled></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-dark admin__save-btn">Save</button>
      </div>
    </div>
  </div>

</div>