<div id="slider">
</div>

<div id="content">
  <div class="login-container">
    <h4 class="login__header">Set a new password</h4>
    <div class="login__body container-fluid">
      <p style="color: #989898;">Create a new password. Ensure it differs from
        previous ones for security</p>
      <label for="password" class="login__label">
        Password
        <div class="hide-password" data-target="password">
          <i class="fa-solid fa-eye"></i>
          <span>Show</span>
        </div>
      </label>
      <input
        id="password"
        type="password"
        class="login__input"
        placeholder="Enter your new password"
        style="margin-bottom: 0;"
      />
      <span id="password-error" class="error-message">Password must be 8
        characters or more with a mix of letters & symbols. No accented
        characters & space</span>
      <span id="password-week" class="week-message">Password weak. Password
        should contain uppercase letters</span>

      <label
        for="confirm-password"
        class="login__label"
        style="margin-top: 24px;"
      >
        Confirm Password
        <div class="hide-password" data-target="confirm-password">
          <i class="fa-solid fa-eye"></i>
          <span>Show</span>
        </div>
      </label>
      <input
        id="confirm-password"
        type="password"
        class="login__input"
        placeholder="Re-enter password"
      />

      <button id="update-password-btn" class="login__btn" disabled>
        Update Password
      </button>
    </div>
  </div>
</div>