:root {
    --header-height: 80px;
  }

/* PC */
@media (min-width: 1024px){

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 768px){
    #header-nav > li{
        display: block;
        text-align: left;
    }

    #header .mobile-menu-btn{
        display: block;
    }
    #header {
        height: var(--header-height);
    }
    #slider{
        margin-top: var(--header-height);
    }
    .header-left-function .header-location-btn{
        display: none;
    }
    .category-sort{
        display: none;
    }
    .category-filter{
        display: none;
    }
    .category__mobile{
        display:flex;
    }

    /* .related-product__col{
        display: none;
    } */
}
