:root{
    --header-height__origin: 130px;
    --header-height__extend: 400px;
    --category-item__height: 40px; /* 24px + 16px (Mỗi mục có chiều cao là 24px và khoảng cách giữa các mục là 16px) */
}


/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Brilliant Cut", Almarai, Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

ul {
    padding-left: 0;
}

.col-20 {
    width: 20%;
    float: left;
}

/* Header section */

#header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 4px 10px;
    height: auto;
    border-bottom: 1px solid #E09051;
    z-index: 999;
    overflow: hidden;
}

/* Css cho tên thương hiệu */
.header-brand-name
{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-family: 'Libre Caslon Display', serif;
    font-size: 60px;
    cursor: pointer;
    text-transform: uppercase;
}

.nav-to-home{
    color: #000;
    text-decoration: none;
}

/* Css cho các nút bên trái */
.header-left-function{
    float: left;
    display: flex;
}

#header .mobile-menu-btn{
    /* float: left; */
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}


.header-search-btn,
.header-location-btn {
    color: #000;
    font-size: 20px;
    line-height: 46px;
    cursor: pointer;
    margin-right: 20px;
}

/* Css cho các nút bên phải*/
.header-right-function{
    float: right;
    display: flex;
}

.header-right-function #openOffcanvas{
    display: flex;
    align-items: center;
}

.header-user-btn,
.header-shopping-cart-btn {
    color: #000;
    font-size: 20px;
    line-height: 46px;
    cursor: pointer;
    margin-left: 20px;
}

.shopping__badge{
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    height: 24px;
    text-align: center;
    margin-bottom: 0;
    /* width: 16px; */
}

/* Css chung cho cả 2 bên function */
.header-function i:hover{
    color: #ccc;
}

.header-function i:hover .shopping__badge{
    background-color: #fff;
    color: #ccc;
}

.header-left-function a,
.header-right-function a{
    text-decoration: none;
}


/* Css cho nav */
#header-nav {
    text-align: center;
    margin-bottom: 0 !important;
}

#header-nav > li{
    display: inline-block;
}

#header-nav > li a{
    color: #000;
    text-decoration: none;
    line-height: 46px;
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0 24px;
    margin: 8px;
    cursor: pointer;
}

#header-nav > li:hover > a{
    opacity: 0.6;
}

#header-nav .header-nav__item-mobile{
    display: none;
}

.offcanvas-full{
    width: 100% !important;
}

.subnav{
    animation: subnavFadeIn ease .5s;
    overflow: hidden;
}

@keyframes subnavFadeIn{
    from {
        /* transform: scale(0.5); */
        max-height: 0;
    }
    to {
        /* transform: scale(1); */
        max-height: auto;
    }
}

.subnav__item:hover{
    opacity: 0.6;
}

.subnav__item{
    text-decoration: none;
    color: #000;
    text-align:center;
}

.View-all-btn{
    padding-top: 16px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.View-all-btn:hover{
    opacity: 0.6;
}

.header-search-section{
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 2;
    transition: bottom 0.3s ease;
}

.header-search-section.open{
    display: block;
}

.header-search-container{
    background-color: #fff;
    border-bottom: 1px solid #E09051;
}

.search__area{
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 80px;
    padding-bottom: 80px;
}

.search-suggestion-section{
    overflow-y: scroll;
}

.search-suggestion-container{
    background-color: #fff;
    display: none;
}

.search-suggestion-container.open{
    display: block;
}

.shopping-bag__title{
    font-family: 'Brilliant Cut', Almarai, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.offcanvas-header{
    border-bottom: 1px solid #ccc;
}

.shopping-bag__item{
    padding: 30px 20px;
}

.product-item__close{
    float: right;
    cursor: pointer;
}

.product-item__close:hover {
    opacity: 0.6;
}

.product-item__name-shopping-bag{
    display: block;
    text-transform: uppercase;
    font-family: Brilliant Cut,Almarai,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
    color: inherit;
    text-align: left;
}

.product-item__desc-shopping-bag{
    display: block;
    font-family: Fancy Cut,Almarai,Times,serif;
    text-decoration: none;
    text-align: left;
    color: inherit;
    line-height: 24px;
    margin-bottom: 0px;
}

.product-item__price-shopping-bag{
    font-weight: 600;
    margin-top: 8px;
    text-align: left;
}

.subTotal__text{
    font-weight: 600;
    font-family: "Brilliant Cut", Almarai, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.subToTal__calc{
    font-family: "Brilliant Cut", Almarai, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: right;
}

.subTotal-section{
    border-top: 1px solid #ccc;
}

.subTotal__btn{
    width: 100%;
}

/* Slider section */

#slider{
    background-color: #fff;
    margin-top: 130px;
    display: block;
    border-bottom: 1px solid #E09051;
    height: auto;
}

.slider-slogan {
    margin-top: 20%;
    margin-left: 15%;
    font-size: 50px;
    font-family: 'Libre Caslon Display', serif;
}

.slogan-desc{
    margin-left: 15%;
    font-size: 16px;
}

@media (max-width: 992px) {
    .slider-slogan {
        margin-top: 5%;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slogan-desc{
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.slider-img {

    width: 100%;
    height: 100%;
    /* max-height: 75%; */
    border: none;
    background-repeat: no-repeat;
}


/* Content section */
#content{
    background-color: #fff;
    position: relative;
    display: block;
    z-index: 1;
    padding-bottom: 160px;
    border-bottom: 1px solid #E09051;
    height: auto;
}

#content .jewelry-img {
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .jewelry-img {
        margin-top: 20px;
        margin-bottom: 20px; /* Thiết lập margin dưới cho ảnh khi màn hình nhỏ hơn hoặc bằng 576px */
    }
}

.jewelry-img:hover{
    opacity: 0.6;
    cursor: pointer;
} 

.extended-desc-jewelry{
    width: fit-content;
    padding: 0 12px;
    border-bottom: 1px solid #000;
}

#collection-section{
    margin-top: 80px;
    margin-bottom: 30px;
}

.collection-img{
    width: 100%;
    height: 270px;
    display: block;
}

  /* CSS để đặt các indicator nằm dưới của ảnh */
.carousel-indicators {
    bottom: 10px; /* Đặt vị trí bottom cho các indicator */
}

#content .heading {
    margin: 5px;
    font-weight: 500;
    font-size: 26px;
    font-family: 'Libre Caslon Display', serif;
}

#content .text-description{
    padding: 10px;
    font-size: 18px;
}

.extended-desc-collection{
    width: fit-content;
    padding: 0 12px;
    border-bottom: 1px solid #000;
}

/* Contact-section */
.contact-section{
    margin-top: 160px;
}

.input-email-control, 
.form-submit-btn {
    border-radius: 0;
}

/* Footer section */
#footer{
    background-color: #fff;
    height: 1000px;
    position: relative;
    margin-top: 40px;
    height: auto;
}

.footer-heading{
    font-size: 1rem;
}

.footer-nav {
    list-style-type: none;
    font-size: 0.75rem;
}

.footer-nav li a {
    text-transform: uppercase;
    line-height: 46px;
    text-decoration: none;
    color: #000;
}

.footer-nav li:hover a{
    opacity: 0.6;
}

.footer .socials-list{
    
    margin-top: 16px;
    font-size: 24px;
    
}

.socials-list a{
    color:  rgba(0, 0, 0, 0.6);
    text-decoration: none;
    padding-right: 16px;
}

/* high jewelry web */
#card__header{
    background-color: #fff;
    display: block;
    height: auto;
}

.header-img{
    width: 100%;
    height: auto;
    border: none;
    background-repeat: no-repeat;
}

.card__header-desc {
    font-size: 50px;
    font-family: 'Libre Caslon Display', serif;
    text-transform: uppercase;
}

.card__header-item{
    background-color: #eee;
}


/* CSS cho phần CATEGORY */

.category__mobile{
    border-bottom: 1px solid #ccc;
    display: none;
    text-align: center;
    cursor: pointer;
}
.category__mobile > div:first-child{
    border-right: 1px solid #ccc;
}

.caterory__heading-mobile{
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 12px;
}

.caterory__heading-mobile:hover {
    opacity: 0.6;
}

.path-to-page{
    border-bottom: 1px solid #ccc;
    padding-bottom: 32px;
}

.breadcrumb-item a{
    text-decoration: none;
    color: #000;
    font-size: .85rem;
}

.breadcrumb-item:hover a{
    text-decoration: underline;
    opacity: 0.6;
}
.category-sort{
    display: block;
}
.category-filter{
    display: block;
}

.category-manager-section {
    height: calc(5 * var(--category-item__height)); /* Chiều cao tối đa cho 5 mục, mỗi mục có chiều cao là 20px và khoảng cách giữa các mục là 10px */
    overflow: hidden; /* Ẩn các mục vượt qua chiều cao tối đa */
    display: none;
}

.category-manager-section.show {
    display: block; /* Hiển thị khi có lớp 'show' */
}

.caterory__heading{
    display: flex;
    justify-content: space-between;
    font-size: .875rem;
    text-transform: uppercase;
    padding: 16px;
    margin-bottom: 0; /* dat mac dinh vi heading co 1 khoang margin bottom = 0.8rem*/
    cursor: pointer;
}

input[type="radio"] {
	border: 1px solid #000 !important;
    appearance: none;
    background-clip: content-box;
    padding: 3px;
}

input[type="radio"]:checked {
	background-color: #000;
    color: black;

}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: none;
}

.category__holder{
    margin-bottom: 16px;
}

.category__item{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: .85rem;
    padding: 16px;
}

.category__item:hover{
    text-decoration: underline;
}

.more-category-btn{
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    padding: 0 16px;
    cursor: pointer;
    display: none;
}

.more-category-btn.show{
    display: block;
}

.more-category-btn:hover{
    text-decoration: underline;
    opacity: 0.6;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
    border-color: #000;
}

.form-check-input:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url('https://banner2.cleanpng.com/20180422/ipq/kisspng-computer-icons-check-mark-clip-art-checkmark-icon-5adcd28df20a16.3537749415244212619914.jpg');
}

.form-check-input:checked {
    background-color: transparent;
    border-color: #000;
}


/* Css cho phần chọn grid (góc bên phải trên cùng của list sản phẩm) */

.grid-selection{
    display: flex;
    justify-content: end;
}

/* Css cho phần product item */
.product-item__img{
    height: auto;
    margin: auto;
    cursor: pointer;
}

.product-item__like{
    z-index: 2;
}

.carousel-indicators {
    margin-bottom:0 !important;
}

.product-item__btn-direction{
    display: none;
}

/* .product-item__btn-icon{
    background-color: #fff;
} */

/* .product-item__btn-left-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/32/32213.png);
}

.product-item__btn-right-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/32/32213.png);
} */

.carousel-control-next, 
.carousel-control-prev {
    opacity: 1;
    z-index: 1;
}


.product-item-col:hover .product-item__btn-direction{
    display: inline-block;
}


.product-item{
    text-align: center;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    height: auto;
}

.product-item-col:hover{
    border: 1px solid #000;
    cursor: pointer;
}

.product-item__name{
    display: block;
    text-transform: uppercase;
    font-family: Brilliant Cut,Almarai,Helvetica,Arial,sans-serif;
    margin-top: 14px;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.product-item__desc{
    display: block;
    font-family: Fancy Cut,Almarai,Times,serif;
    text-decoration: none;
    text-align: center;
    color: inherit;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.product-item__price{
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
}

.product-item__like{
    display: none;
    position: absolute;
    top:0;
    right: 0;
    padding: 0 7.5px;
    background-color: #fff;
    border-radius: 50%;
    height: auto;
    width: auto;
    cursor: pointer;
}

.product-item-col:hover .product-item__like {
    display: block;
}

i.product-item__like-fill{
    display: none;
}

.product-item__like-liked .product-item__like-fill{
    display: inline-block;
}

.product-item__like-liked .product-item__like-unfill{
    display: none;
}

.buy-btn{
    border-radius: 0 !important;
    width: 90%;
    margin-top: 22px;
    height: 38px;
    text-transform: uppercase;
    visibility: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.product-item-col:hover .buy-btn {
    visibility: visible;
}

/* CSS cho phần product detail */
/* .product-detail-section{
    border-bottom: 1px solid #E09051;
} */


.product-detail__path-to-page{
    margin-top: 16px;
    font-family: "Brilliant Cut", Almarai, Helvetica, Arial, sans-serif;
}


.product-detail__img{
    /* padding-left: 5px;
    padding-right: 5px; */
    margin-bottom: 10px;
}

.product-detail__desc-container{
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.product-detail__heading{
    font-family: "Brilliant Cut", Almarai, Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    font-size: 20px;
    letter-spacing: 0.4px;
}

.description {
    font-family: "Fancy Cut", Almarai, Times, serif;
    font-size: 16px;
    line-height: 24px;
    max-height: 48px; /* Chỉ cho hiển thị khoảng 2 dòng */
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

.read-more{
    color: #000;
}

.read-more:hover{
    opacity: 0.6;
}
/* Hiển thị toàn bộ nội dung khi nút "Read More" được click */
.product-detail__desc-container.expanded .description {
    max-height: none; /* Loại bỏ giới hạn chiều cao */
}

/* Thêm dấu '...' vào cuối nội dung khi bị cắt */
.description::after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 90%);
    padding: 0 15px;
}

/* Ẩn dấu '...' khi nội dung được mở rộng */
.product-detail__desc-container.expanded .description::after {
    display: none;
}

.product-detail__price{
    font-weight: 600;
    margin-top: 50px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-family: "Brilliant Cut", Almarai, Helvetica, Arial, sans-serif;
}

.product-detail__buy-btn{
    border-radius: 0 !important;
    width: 100%;
    margin-top: 22px;
    height: 38px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.product-detail__action {
    border: 0.0625rem solid rgb(29, 28, 28);
    text-align: center;
    width: 45px;
    height: 38px;
    margin-top: 22px;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.product-detail__like{
    display: flex;
    align-items: center;
}

/* CSS comment section */
.comment-section{
    border-top: 1px solid #E09051;
    border-bottom: 1px solid #E09051;
}

.comment-section__main{
    height: 400px;
    background-color: #ddd;
    margin-bottom: 20px;
}

.comment-section__heading{
    text-transform: uppercase;
    font-family: "Brilliant Cut", Almarai, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: start;
}

/* CSS related product */
.related-product__heading, 
.recommend-product__heading{
    text-align: center;
    text-transform: uppercase;
    font-family: "Brilliant Cut", Almarai, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.related-product__desc{
    text-align: center;
}

.related-product__col:hover{
    border: 1px solid #000;
    cursor: pointer;
}

.discover-btn{
    border-radius: 0 !important;
    width: 90%;
    margin-top: 22px;
    height: 38px;
    text-transform: uppercase;
    visibility: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-product__col:hover .discover-btn {
    visibility: visible;
}

/* Css recommned product */

.recommend-product__col:hover{
    border: 1px solid #000;
    cursor: pointer;
}

.recommend-product__item{
    margin-top: 10px; 
    margin-bottom: 10px;
}

/* CSS cho login page */
.login-container{
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    height: auto;
    width: 60%;
}
.login__header{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.login__label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.hide-password{
    display: inline;
    float: right;
}


.login__body {
    padding-left: 80px;
    padding-right: 80px;
}

.login__input{
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.login__btn{
    background-color: #ccc;
    border-radius: 20px;
    width: 100%;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    line-height: 40px;
    color: #fff;
    margin-bottom: 10px;
}

.login__btn:hover{
    opacity: 0.6;
}

.login__btn:disabled:hover{
    opacity: 1;
}

.Term-of-use{
    text-align: center;
    margin-bottom: 10px;
}

.issue-with-sign{
    text-decoration: underline;
    cursor: pointer;
    order: 1;
}

.forgot-pass{
    text-decoration: underline;
    cursor: pointer;
    order: 2;
}

.login__other {
    display: flex; /* Hiển thị các phần tử cùng một hàng */
    justify-content: space-between; /* Căn các phần tử con theo hai bên */
    align-items: center;
    margin-top: 48px;
    margin-bottom: 24px;
}

.create-account__heading{
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.create-account__btn{
    border-radius: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    line-height: 40px;
    margin-bottom: 42px;
    background-color: #fff;
}

.create-account__btn:hover{
    background-color: #000;
    color: #fff;
}

.policy{
    color: #000;
}

.policy:hover{
    opacity: 0.6;
}

.forgot-pass:hover{
    opacity: 0.6;
}

.issue-with-sign:hover{
    opacity: 0.6;
}

/* Css cho create account */
.have-account{
    text-align: center;
}

.error-message{
    display: none; 
    color: red;
}

.week-message{
    display: none; 
    color: orange;
}

/* Shopping bag section */
.shopping-bag__container{
    padding-top: 76px;
}

.shopping-bag__product-item{
    background-color: rgb(249, 249, 249);
    padding: 30px 15px;
    margin-bottom: 16px;
}

.shopping-bag__product-item-img{
    width: 100%;
}

.shopping-bag__product-item-name{
    text-transform: uppercase;
    font-family: Brilliant Cut,Almarai,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
    color: inherit;
    text-align: left;

}

.shopping-bag__product-item-price{
    font-weight: 600;
    text-align: right;
}

.shopping-bag__product-item-desc{
    display: block;
    font-family: Fancy Cut,Almarai,Times,serif;
    text-decoration: none;
    text-align: left;
    color: inherit;
    line-height: 24px;
    margin-bottom: 0px;
}

.btn-quantity{
    border: 1px solid rgb(222, 226, 230);
    /* border-top: 1px solid rgb(222, 226, 230);
    border-bottom: 1px solid rgb(222, 226, 230); */
    border-radius: 0 !important;
}

/* #minusBtn{
    border-left: 1px solid rgb(222, 226, 230);
}

#plusBtn{
    border-right: 1px solid rgb(222, 226, 230);
} */

.btn-quantity:hover{
    border: 1px solid rgb(222, 226, 230);
    /* border-top: 1px solid rgb(222, 226, 230);
    border-bottom: 1px solid rgb(222, 226, 230); */
}

.summary-section{
    margin-top: 32px;
}

.summary-container{
    border: 1px solid #000;
    padding: 28px 32px;

}

.tax__text{
    font-family: "Fancy Cut",Almarai,Times,serif;
}

.tax__calc{
    font-family: "Fancy Cut",Almarai,Times,serif;
    text-align: right;
}

.back__shopping a{
    text-align: center;
    color: #000;
    text-decoration: none;
    font-family: "Brilliant Cut",Almarai,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.back__shopping a:hover {
    text-decoration: underline;
}

.back__search{
    text-align: center;
}

.back__search a {
    color: #000;
    text-decoration: none;
}

.back__search:hover {
    text-decoration: underline;
}